<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.suse.zack.mapper.FriendLinkMapper">

    <insert id="addFriendLink" parameterType="FriendLink">
	INSERT INTO `blog`.`blog_flink`
		(`link_id`,
		`link_words`,
		`link_url`,
		`link_way`,
		`create_time`,
		`del_flag`)
	VALUES
		(
		#{link_id,jdbcType=INTEGER},
		#{link_words,jdbcType=VARCHAR},
		#{link_url,jdbcType=VARCHAR},
		#{link_way,jdbcType=VARCHAR},
		#{create_time,jdbcType=TIMESTAMP},
		#{del_flag,jdbcType=TINYINT}
		)
    </insert>

	<select id="getFriendLinkCount" resultType="int">
		SELECT
  		COUNT(*)
		FROM `blog`.`blog_flink`
		WHERE `blog_flink`.`del_flag`=1
	</select>

	<select id="subList" resultType="FriendLink">
		SELECT 	`link_id`,
		`link_words`,
		`link_url`,
		`link_way`,
		`create_time`,
		`del_flag`

		FROM
		`blog`.`blog_flink`
		WHERE `blog_flink`.`del_flag`=1
		ORDER BY `create_time` DESC
		LIMIT #{pageStart}, #{perPageCount}
	</select>

	<select id="queryFriendLinkById" parameterType="String" resultType="FriendLink">
		SELECT *
		FROM
		`blog`.`blog_flink`
		WHERE `link_id` = #{link_id}
		AND `del_flag` = 1
	</select>

	<update id="updateFriendLink" parameterType="FriendLink">
		UPDATE `blog`.`blog_flink`
		SET
		`link_words` = #{link_words},
		`link_url` = #{link_url},
		`link_way` = #{link_way}
		WHERE
		`link_id` = #{link_id}
	</update>

	<update id="deleteFriendLink" parameterType="String">
		UPDATE `blog`.`blog_flink`
		SET
		`del_flag` = 0
		WHERE
		`link_id` = #{link_id}
	</update>

</mapper>