<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.suse.zack.mapper.ITNewsMapper">

    <insert id="addITNewsInfo" parameterType="ITNews">
        INSERT INTO `blog`.`blog_itnews`
			(`news_id`,
			`news_content`,
			`news_url`,
			`news_way`,
			`create_time`,
			`del_flag`
			)
			VALUES
			(#{news_id,jdbcType=INTEGER},
			#{news_content,jdbcType=VARCHAR},
			#{news_url,jdbcType=VARCHAR},
			#{news_way,jdbcType=CHAR},
			#{create_time,jdbcType=TIMESTAMP},
			#{del_flag,jdbcType=TINYINT}
			)
    </insert>


	<select id="getITNewsCount" resultType="int">
		SELECT COUNT(*)
		FROM `blog`.`blog_itnews`
		WHERE `blog_itnews`.`del_Flag`=1
	</select>


	<select id="subList" resultType="ITNews">
		SELECT 	`news_id`,
		`news_content`,
		`news_url`,
		`news_way`,
		`create_time`,
		`del_flag`,
		`extend_a`,
		`extend_b`,
		`extend_c`

		FROM
		`blog`.`blog_itnews`
		WHERE `blog_itnews`.`del_Flag`=1
		ORDER BY `create_time` DESC
		LIMIT #{pageStart}, #{perPageCount}
	</select>

	<select id="queryITNewsById" parameterType="String" resultType="ITNews">
		SELECT
		`news_id`,
		`news_content`,
		`news_url`,
		`news_way`,
		`create_time`
		FROM
		`blog`.`blog_itnews`
		WHERE `blog_itnews`.`news_id` = #{news_id}
	</select>

	<update id="updateITNews" parameterType="ITNews">
		UPDATE
		`blog`.`blog_itnews`
		SET
		`news_content` = #{news_content} ,
		`news_url` = #{news_url} ,
		`news_way` = #{news_way}
		WHERE
		`news_id` = #{news_id}
	</update>

	<update id="deleteITNewsById" parameterType="String">
		UPDATE
		`blog`.`blog_itnews`
		SET
		`del_flag` = 0
		WHERE
		`news_id` = #{news_id}
	</update>

</mapper>