<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.suse.zack.mapper.UserMapper">

    <!--添加用户-->
    <insert id="addUser" parameterType="User">
        INSERT INTO blog_user
        VALUES (#{user_id,        jdbcType=CHAR},
                #{user_name,      jdbcType=CHAR},
                #{user_password,  jdbcType=CHAR},
                #{user_email,     jdbcType=CHAR},
                #{user_state,     jdbcType=CHAR}
                )
    </insert>


    <!--查找指定用户-->
    <select id="findUserByEmail" parameterType="String" resultType="User">
        SELECT *
        FROM blog_user
        WHERE user_email = #{user_email}
    </select>

</mapper>