* { margin: 0; padding: 0 }
body { font: 14px "Î¢ÈíÑÅºÚ", Arial, Helvetica, sans-serif; background: url(../images/background.jpg)/* no-repeat center top #075498; color: #fff*/ }
img { border: 0; display: block }
ul, li { list-style: none; }
/*Ä¬ÈÏÁ´½ÓÑÕÉ« */
a:link, a:visited, a:active {/* text-decoration: none; *//* color: #fff */}
/*a:hover { text-decoration: none; color: #fff; }*/
.clear { clear: both; }
.blank { height: 8px; overflow: hidden; width: 100%; margin: auto; clear: both }
.f_l { float: left }
.f_r { float: right }
/* header */
header, article, footer {width: 1000px;margin: auto;overflow: hidden;}
.logo { margin: 40px 0 }
nav { margin-bottom: 40px }
nav a {/* position: relative; *//* display: inline-block; *//* font-size: 18px; *//* margin-right: 30px; */}
.topnav a span:first-child { z-index: 2; display: block; }
.topnav a span:last-child { z-index: 1; display: block; color: #fff; opacity: 0; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; -moz-transition: -moz-transform 0.3s, opacity 0.3s; transition: transform 0.3s, opacity 0.3s; -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); transform: translateY(-100%); text-align: center }
.topnav a:hover span:last-child, .topnav a:focus span:last-child { opacity: 1; -webkit-transform: translateY(0%); -moz-transform: translateY(0%); transform: translateY(0%); }
.en { color: #fff; font-size: 12px; z-index: 1; display: block; }/* ie */
article {/* background: url(../images/articlebg.png) repeat; */}
.container { background: url(../images/articlebg.png) repeat; overflow: hidden; margin: 20px; box-shadow: #075498 0px 1px 10px; }
footer { text-align: center; padding: 20px 0 }
.page{ margin:20px 0 ; text-align:center; width:100%;overflow: hidden;}
.page a b {color: #aee1ff;}
.page>b,.page a {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 50%;width: 26px;text-align: center;display: inline-block}
.page a {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 50%;width: 26px;text-align: center;display: inline-block}/* Õë¶ÔIE6 */
.page>b,.page a:hover{background: #2a455d;color: #FFF;}
.page a {color: #aee1ff;border: #89c9ef 1px solid}
.ctitle{ position:relative}
.ctitle b{font-size: 22px; margin-bottom: 20px; background: #2a7497; padding: 10px 0; width: 200px; text-align: center; border-radius: 0 30px 30px 0; box-shadow: #21566f 1px 1px 1px; border-left: #dae1e4 6px solid; display:block; margin:30px 0 0 30px}
.ctitle span{ float:right; font-size:14px; position:absolute; right:20px ; top:20px;text-shadow: rgba(7, 84, 152, 0.71) 1px 1px 1px;}


.blog { margin: 30px 20px; overflow: hidden }
.blog figure { background: #ececec; border: #FFF 10px solid; width: 270px; height: 430px; float: left; margin: 0 8px 0; overflow: hidden }
.blog figure img { display: block; margin: auto; height: 256px; overflow: hidden; }
.blog figure p { font-size: 14px; text-shadow: #fff 1px 1px 0px; line-height: 26px; text-align: center; font-weight: bold }
.blog figure p a { color: #226039; }
.blog figure figcaption { padding: 10px; line-height: 22px; color: #666; }
.blog figure ul { background: url(../images/yu.png) no-repeat center; overflow: hidden; height: 256px; margin-bottom: 20px }
.blog figure ul span { opacity: 0 }
.blog figure ul:hover span { opacity: 1 }
.blog figure ul a { position: relative; display: block }
.blog figure ul span { position: absolute; left: 0px; top: 0px; background: rgba(0,0,0,0.5) url(../images/yu.png) no-repeat center 10px; color: #FFF; display: block; width: 100%; height: 100%; line-height: 256px; text-align: center; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; -ms-transition: all 0.5s; text-decoration: underline }
/* cbp_tmtimeline */
.cbp_tmtimeline { margin: 30px 0 0 0; padding: 0; list-style: none; position: relative; }
.cbp_tmtimeline:before { content: ''; position: absolute; top: 0; bottom: 0; width: 5px; background: #afdcf8; left: 158px; margin-left: -10px; }
.cbp_tmtimeline > li { position: relative; }
.cbp_tmtimeline > li .cbp_tmtime { display: block; width: 100px; padding-right: 30px; position: absolute; margin-left: 20px }
.cbp_tmtimeline > li .cbp_tmtime span { display: block; text-align: right; }
.cbp_tmtimeline > li .cbp_tmtime span:first-child {font-size: 14px;color: #3594cb;}
.cbp_tmtimeline > li .cbp_tmtime span:last-child {font-size: 22px;color: #3594cb;}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child { color: #6cbfee; }
.cbp_tmtimeline > li .cbp_tmlabel {margin: 0 30px 15px 180px;background: #ffffff9c;color: #818586;padding: 2em;position: relative;border-radius: 5px;height: 150px;}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {/* background: #579dc5; */}
.cbp_tmtimeline > li .cbp_tmlabel h2 {margin-top: 0px;padding: 0 0 10px 0;font-size: 16px;/* text-shadow: rgba(7, 84, 152, 0.71) 1px 1px 1px; */}
.cbp_tmtimeline > li .cbp_tmlabel:after { right: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-right-color: #3594cb; border-width: 10px; top: 10px; }
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after { border-right-color: #579dc5; }
.cbp_tmtimeline > li .cbp_tmicon { width: 10px; height: 10px; font-family: 'ecoico'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; font-size: 1.4em; line-height: 40px; -webkit-font-smoothing: antialiased; position: absolute; color: #fff; background: #46a4da; border-radius: 50%; box-shadow: 0 0 0 3px #afdcf8; text-align: center; left: 170px; top: 15px; margin: 0 0 0 -25px; }
.blogpic { width: 200px; height: 120px; overflow: hidden; display: block; float: left; margin-right: 20px; }
.blogpic img { width: 200px; height: 120px; margin: auto; }
a.readmore {background: #07549873;color: #fff;padding: 5px 10px;float: right;margin: 20px 0 0 0;border-radius: 5px;}
.cbp_tmtimeline li .cbp_tmtime { -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; }
.cbp_tmtimeline li:hover .cbp_tmicon { box-shadow: 0 0 0 3px #ececec; }
.cbp_tmtimeline li:hover .cbp_tmtime { background: #afdcf8; border-radius: 20px 0 0 20px; }
.cbp_tmtimeline li:hover .cbp_tmtime span { color: #fff; }






/* 共用css */

/*img {
    border: 0;
    display: block
}*/

ul, li {
    list-style: none;
}

/*默认链接颜色 */
a {
    text-decoration: none;
    color: #555;
}

.clear {
    clear: both;
}

.blank {
    height: 8px;
    overflow: hidden;
    width: 100%;
    margin: auto;
    clear: both
}

.blank80 {
    height: 100px;
    overflow: hidden;
    width: 100%;
    margin: auto;
    clear: both
}

.f_l {
    float: left
}

.f_r {
    float: right
}

header {
    width: 100%;
    overflow: hidden;
    /*background: #f2f8f0;*/
    position: fixed;
    z-index: 9999;
    box-shadow: #165246 1px 1px 1px;
}

.toplogo {
    width: 1200px;
    margin: auto;
    position: relative
}

.logo {
    position: absolute;
    top: 31px;
    left: 1px;
}

/* nav */
.topnav {
    width: 100%;
    overflow: hidden;
}

/*导航颜色*/
nav {
    width: 1200px;
    margin: auto;
    /*color: #96ceb4;
*/    line-height: 32px;
    background: url(../images/logo3.png) no-repeat left 30px top 4px;
}

nav ul {
    text-align: right;
    height: 60px;
    line-height: 60px;
}

nav ul li {
    display: inline;
    font-size: 16px;
    padding: 0px 20px;
}

nav ul li a {
    color: #0b84bf;
}

/*phone  nav */
#mnav {
    display: none;
    width: 100%;
}

#mnav h2 {
    text-align: right;
    color: #fff;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    width: 100%
}

#mnav h2.open {
    text-align: right;
    background: rgba(1, 1, 1, 0.8);
    width: 100%;
}

#mnav ul {
    display: none;
    background: rgba(1, 1, 1, 0.1);
    width: 100%;
    padding-bottom: 40px;
}

#mnav li {
    height: 40px;
    line-height: 40px;
    vertical-align: top;
    font-size: 16px;
    display: block;
    overflow: hidden;
    text-align: center
}

#mnav li a {
    color: #fff
}

/* 默认菜单栏 */
#mnav h2 .navicon {
    margin-right: 15px;
}

.navicon {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #FFFFFF;
}

.navicon:before, .navicon:after {
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    background: #FFFFFF;
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    transition-property: margin, transform, -webkit-transform;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.navicon:before {
    margin-top: -10px;
}

.navicon:after {
    margin-top: 10px;
}

/* 展开后导航栏目 */
#mnav h2.open .navicon {
    background: rgba(1, 1, 1, 0.8)
}

/* 使用背景色隐藏中间的红线 */
#mnav h2.open .navicon:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#mnav h2.open .navicon:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#mnav h2.open .navicon:before, #mnav h2.open .navicon:after {
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    background: #FFFFFF;
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    transition-property: margin, transform, -webkit-transform;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

article {
    width: 1100px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.3);
    margin: auto;
    overflow: hidden;
}

footer {
    /*margin-bottom: 5px;*/
    width: 100%;
    background: #333;
    color: #a5a4a4;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #a5a4a4
}

/*列表页*/
.litle {
    padding: 30px 0 10px 0;
    font-size: 18px;
    border-bottom: #dbf7ea 1px solid;
    overflow: hidden;
    color: #1f7d6a;
    text-shadow: #fff 1px 1px 2px;
}

.litle span {
    float: right;
    font-weight: normal;
    font-size: 16px;
    animation: animations2 5s;
    -moz-animation: animations2 5s; /* Firefox */
    -webkit-animation: animations2 5s; /* Safari 和 Chrome */
    -o-animation: animations2 5s;
}

@-webkit-keyframes animations2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: .8;
    }
    45% {
        opacity: .3;
    }
    50% {
        opacity: .8;
    }
    55% {
        opacity: .3;
    }
    60% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

.navtab {
    border-top: #a6c3bd 1px solid;
    padding: 10px 0;
    overflow: hidden;
    margin-bottom: 20px
}

.navlist li {
    line-height: 36px;
    margin: 10px 20px 0 0;
    display: block;
    float: left;
    padding: 0 10px;
    border-radius: 5px;
    background: #fff;
    transition: 800ms ease all;
    outline: none;
    position: relative;
}

.navlist li a {
    color: #333
}

#pagecurrent {
    background: #1f7d6a;
}

#pagecurrent a {
    color: #fff
}

.navlist li:before, .navlist li:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
}

.navlist li:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.navlist li:hover:before, .navlist li:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/*search*/
.search {
    width: 270px;
    float: right;
    overflow: hidden;
    margin-top: 10px;
}

.input_text {
    border: 1px solid #ccc;
    width: 198px;
    height: 26px;
    line-height: 26px;
    background-color: #f2f2f2;
    float: left;
    padding-left: 10px
}

.input_submit {
    background-color: #333;
    color: #FFF;
    float: left;
    width: 60px;
    border: none;
    cursor: pointer;
    height: 28px;
    line-height: 28px;
    border-radius: 0 5px 5px 0
}

.pagelist {
    text-align: center;
    color: #666;
    width: 100%;
    clear: both;
    margin: 20px 0;
    padding-top: 20px
}

.pagelist a {
    color: #666;
    margin: 0 2px;
    border: 1px solid #000;
    padding: 5px 10px;
}

.pagelist a:hover {
    color: #1f7d6a;
}

.pagelist > b {
    border: 1px solid #000;
    padding: 5px 10px;
}

/*wx*/
.weixin {
    width: 100%;
    background: #FFF;
    overflow: hidden;
    margin: 20px 0
}

.weixin img {
    width: 100%;
    height: auto
}

/*h2*/
.hometitle {
    padding: 0 10px;
    line-height: 40px;
    height: 40px;
    font-size: 18px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #349075;
    color: #fff;
}

.hometitle span {
    float: right;
    font-weight: normal;
    font-size: 14px;
    height: 42px;
    overflow: hidden;
    text-align: right
}

.hometitle span a {
    display: block;
    float: right;
    position: relative;
    overflow: hidden;
    margin-right: 20px
}

.hometitle span a:after {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    border-radius: 10px;
    background: #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    bottom: -10px
}
